.card-img{
    height: 20rem;
    width: 20rem;
}


.col-8{
    margin-left: -60px;

    .card-body{
        margin-top: 20px;

        h5{
            line-height: 40px;
        }

        .btn-primary{
            float: right;
        }
    }
}

.btn-primary{
    float: right;
}
